/*Fontes*/
* {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 80px;
}
/*Background*/
body {
    background-image: url(../img/pexels-adrien-olichon-2387793.jpg);
    background-size: contain;
    color: white;
}
/*Texto*/
p {
    text-align: justify;
    text-decoration: none;
    text-transform: capitalize;
    text-indent: 30px;
    letter-spacing: -1px;
    line-height: 2;
    word-spacing: 15px;

}